.div1{
    width: 100%;
    display: flex;
    padding: 0%;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: antiquewhite;
    
}
.dropdownlist li a ,.dropdownlist1 li a ,.dropdownlist2 li a ,.dropdownlist3 li a,.dropdownlist4 li a  {
    display: block;
    color:black;
    text-decoration: solid;
    font-size: 15px;

}
.dropdown,.dropdown1,.dropdown2,.dropdown3,.dropdown4{
    position: relative;
    display: inline-block;
}
.dropdown:hover .dropdownlist   ,.dropdown1:hover   .dropdownlist1 ,.dropdown2:hover .dropdownlist2,  .dropdown3.dropdown3:hover .dropdownlist3,  .dropdown4:hover .dropdownlist4 {
display:block;
background-color: lightgray;
}
.dropdownlist ,.dropdownlist1,.dropdownlist2,.dropdownlist3,.dropdownlist4{
    display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px;
  text-indent: 8px;
  z-index: 5;
}
#image{
    width: 200px;
    margin-left: 100px;
    margin-right: 200px;
}
#menu{
    padding: 10px;

}
#menu li{
    display: inline;
    justify-content: space-between;
    margin: 20px;
}
#menu li a{
    color: black;
    text-decoration: solid;
    
    
}

#menu li a:hover{
    color: darkblue;
    text-decoration: underline;

}

#search-items{
    margin-left: 20%;
}
#imag{
    width: 12%;
    margin-left: 90px;
}
#img{
    width: 100%;
    opacity: 40;
}
#img1{
    width: 66%;
    opacity: 60;
}

#img2{
    width: 33%;
    height: 559px;
}
#img3{
    width: 33%;
}
#img4{
    width: 66%;
}
#img5{
    width: 100%;
}
body{
    margin: 0px ;
}
#line{
    height: 2px;
    text-align: center;
    text-decoration: double;
    font-size: 20px basset;
}
#first{
    width:25%;
}
#second{
    width: 25%;
}
#third{
    width: 25%;
}
#fourth{
    width: 24%;
}
#n1{
    font-size: 12px basset;
    margin-left: 10%;
    color: #262626;
}
#n2{
    font-size: 6px basset;
}
#pr{
    text-align: center;
    color: dimgray;
}
#email{
    text-align: center;
}

#input{
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
#submit{
    color: white;
    background-color: black;
    cursor: pointer;
}

#search-button{
    background-color: black;
    color: white;
    margin: 10px;
    display: inline;
}
.div2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}
#footer{
    padding: 10px;
}
#footer{
    margin-left: 25%;
}
#footer li{
    display: inline;
    justify-content: space-between;
    margin: 10px;
}
#footer li a{
    color: dimgrey;
    text-decoration: solid;
}
#footer li a:hover{
    text-decoration: underline;
}
#last{
    color: dimgray;
    font-size: 10px;
    margin-left: 37%;
}
#view{
    display: flex;
    margin-left: 47%;
    margin-top: 2%;
    color: #ba7a2d;
}
